body {
    margin: 0;
    padding: 0;
    background: #1e1e1e;
    font-family: Arial, sans-serif;
}

.login-box {
    width: 350px;
    margin: 150px auto;
    background: #2d2d2d;
    padding: 30px;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.login-box button {
    width: 95%;
    padding: 12px;
    background: #00aaff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.login-box button:hover {
    background: #0088cc;
}
